@import '../../styles/global.scss';



.profile {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        z-index: -1;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 99%;
        margin: 12px 18px 12px 18px;
        border-radius: 20px;
    }

    // MAIN SECTION  

    

    &__form-main-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        min-width: 100%;
        margin: 0 0 24px 0;
        padding: 32px 0 0 0;
        overflow-x: auto;
    }

    &__form-title-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0 48px 0;
        border-bottom: solid 2px grey;
        box-shadow: 0px 6px 8px 5px rgba(0, 0, 0, .2);
    }

    &__form-header {
        font-weight: bold;
        color: $secondary;
        background-color: rgba(8,129,24,0.6);
        padding: 0 24px 0 24px;
        margin: 32px 0 32px 24px;
        font-size: 48px;
        letter-spacing: 16px;
        border-radius: 20px;
    }


    // Submit & reset buttons

    &__form-button-container {
        display: flex;
        width: auto;
        justify-content: flex-start;
        align-items: center;
        margin: 0 48px 0 0;
    }

    &__form-button {
        height: 80px;
        width: 150px;
        border-radius: 10px;
        border: none;
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            background-color: $primary;
        }

        &--reset {
            background-color: $nav-links;
            color: $secondary;
        }
    }

    // These 4 styles are not in use
    // &__form-nav {
    //     display: flex;
    // }

    // &__form-nav-right {
    //     width: 90px;
    //     height: 70px;
    //     border: none;
    //     cursor: pointer;
    //     background-color: transparent;
    //     transform: rotate(180deg);
    // }

    // &__form-nav-left {
    //     width: 90px;
    //     height: 70px;
    //     border: none;
    //     background-color: transparent;
    //     cursor: pointer;
    // }

    // &__form-button-icon {
    //     width: 100%;
    //     height: 100%;

    // }


    // GENERAL

    &__form-labels {
        font-size: 24px;
        font-weight: bold;
        color: $tertiary;
        margin: 12px 0 0 0;
        width: 90%;
        padding: 5px 0 0 5px;
        
    }

    &__form-small-inputs {
        width: 90%;
        height: 50px;
        margin: 8px 0 12px 0;
        background-color: rgba(255,255,255,0.9);
        border: solid 2px $secondary;
        padding-left: 8px;
        font-size: 16px;
        font-weight: bold;
        color: $tertiary;
        z-index: 2;

        &--address {
            width: 90%;
            height: 100px;
        }

        &:hover, &:focus {
            border: dotted 3px $primary;
        }

    }

    &__form-section-header {
        display: flex;
        position: relative;
        width: 100%;
        top: -35px;
        z-index: 1;
        margin: 0 0 60px;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 10px;
        text-shadow: 1px 1px 2.5px $primary;

        &--line-break {
            margin: 0;
        }

        &:nth-child(2n) {
            margin: 0 0 60px 0;
        }
    }

    &__form-divider {

        &--row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 1;
        }
        &--column {
            display: flex;
            flex-direction: column;
            width: 50%;
            z-index: 1;
            
        }
    }

    &__form-selections {
        width: 150px;
        border-radius: 20px;
        padding: 0 0 0 10px;
        margin: 12px 0 0 0;
    }

    &__form-add-button {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin: 8px 0 0 12px;
        background: transparent;
        color: $primary;
        font-weight: bold;
        cursor: pointer;
    }

    &__form-description {
        font-size: 24px;
        color: $tertiary;
        margin: 0 0 12px 0;
    }

    &__input-counter-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: -45px;
        left: 650px;
        width: 175px;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        margin: 24px 0 0 0;
        padding: 0 0 0 5px;
        border: ridge 3px rgba(0,0,0,1);
    }

    &__input-counter-label {
        font-size: 14px;
        font-weight: bold;
        color: $tertiary;
        margin: 0;
    }

    &__input-counter {
        font-size: 18px;
        margin: 0 0 0 14px;
        font-weight: bold;
        text-shadow: 1px 1px 2.5px $primary;
    }

    // CONTACT SECTION

    &__form-userDetails {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 45%;
        min-height: 675px;
        background-color: rgba(0,0,0,0.2);
        margin: 0 0 24px 0;
        padding: 0 24px 24px 24px;
        z-index: 1;
    }

    &__form-userDetails-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        z-index: 1;

    }


    // EDUCATION SECTION

    &__form-education {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 45%;
        min-height: 675px;
        background-color: rgba(0,0,0,0.35);
        margin: 0 0 24px 0;
        padding: 0 24px 24px 24px;
    }

    // EXPERIENCE SECTION

    &__form-experience {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 45%;
        min-height: 675px;
        background-color: rgba(0,0,0,0.2);
        margin: 0 0 24px 0;
        padding: 0 24px 24px 24px;
    }

    // AWARDS / CERTIFICATIONS SECTION

    &__form-awards-certifications {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        min-height: 675px;
        min-width: 45%;
        background-color: rgba(0,0,0,0.5);
        margin: 0 0 24px 0;
        padding: 0 24px 24px 24px;
    }

    // SKILLS SECTION

    &__form-skills {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 45%;
        min-height: 675px;
        background-color: rgba(0,0,0,0.2);
        margin: 0 0 24px 0;
        padding: 0 24px 24px 24px;
    }

    // COVER LETTER SECTION

    &__form-coverLetter {
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 45%;
        min-height: 675px;
        background-color: rgba(0,0,0,0.5);
        margin: 0 0 24px 0;
        padding: 0 24px 24px 24px;
    }

    &__form-coverLetterInput {
        height: 400px;
        min-width: 100%;
        border-radius: 20px;
        font-size: 16px;
        font-weight: bold;
        color: $tertiary;
        background-color: $secondary;
    }

}