@import '../../styles/global.scss';

.search {
    width: 100%;
    height: auto;

    &__hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/images/search-page-background.jpg');
        background-size: cover;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    &__search-input {
        width: 500px;
        height: 100px;
        background-color: rgba(235, 237, 238, 0.3);
        border: solid 3px $primary;
        border-radius: 10px;
        font-size: 32px;
        color: $primary;
        padding-left: 32px;
        animation: 2s fadeIn;
        animation-fill-mode: forwards;
        visibility: hidden;

        @keyframes fadeIn {
            0% {
                opacity: 0;
                width: 0px;
                height: 0px;
            }
            60% {
                opacity: 1;
                width: 500px;
                height: 0.1px;
            }
            100% {
                visibility: visible;
                height: 100px;
            }
        }
    }

    &__submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        padding: 0 0 0 10px;
        margin: 0 0 0 10px;
        border-radius: 50px;
        border: none;
        background-color: rgba(8, 129, 24, 0.35);
        cursor: pointer;
    }

    &__icon {
        margin: 0 10px 0 0;
    }

    &__section-content {
        display: flex;
        flex-wrap: wrap;
    }


}

