@import '../../styles/global.scss';

.search {
    width: 100%;
    height: 100%;

    &__hero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/images/search-page-background.jpg');
        background-size: cover;
    }

    &__bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 0 72px 0;
    }

    &__search-input {
        width: 500px;
        height: 100px;
        background-color: rgba(235, 237, 238, 0.3);
        border: solid 3px $primary;
        border-radius: 10px;
        font-size: 32px;
        color: $primary;
        padding-left: 32px;
        animation: 2s fadeIn;
        animation-fill-mode: forwards;
        visibility: hidden;

        @keyframes fadeIn {
            0% {
                opacity: 0;
                width: 0px;
                height: 0px;
            }
            60% {
                opacity: 1;
                width: 500px;
                height: 0.1px;
            }
            100% {
                visibility: visible;
                height: 100px;
            }
        }
    }

    &__submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        padding: 0 0 0 10px;
        margin: 0 0 0 10px;
        border-radius: 50px;
        border: none;
        background-color: rgba(8, 129, 24, 0.35);
        cursor: pointer;
    }

    &__icon {
        margin: 0 10px 0 0;
    }

    // Following is for loading spinner

    .lds-spinner {
        color: official;
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-spinner div {
        transform-origin: 40px 40px;
        animation: lds-spinner 1.2s linear infinite;
      }
      .lds-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: $primary;
      }
      .lds-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }
      .lds-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }
      .lds-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }
      .lds-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }
      .lds-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }
      .lds-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }
      .lds-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }
      .lds-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }
      .lds-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }
      .lds-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }
      .lds-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }
      .lds-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }
      @keyframes lds-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      

    // Following is a container for job postings

    &__section-content {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }


}

