@import '../../styles/global.scss';

.cl__container {
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

.cl__pdf-generator {
    position: absolute;
    top: 50px;
    right: 50px;
    height: 80px;
    width: 150px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;

    &:hover {
        background-color: $primary;
    }
}

.cl {
    display: flex;
    flex-direction: column;
    width: 8.7in;
    height: 11in;
    margin: 24px 0 24px 0;
    border: solid 2px black;
    background-color: white;
    box-sizing: border-box;

    &__divider {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 30px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        background-color: rgba(0,0,0,0.3);
        padding: 14px 0 14px 24px;
    }

    &__header-name{
        font-size: 32px;
        margin: 0;
    }
    &__header-title{
        font-size: 24px;
        font-style: italic;
        margin: 0;
    }

    &__main {
        display: flex;
        flex-direction: column;
        width: 75%;
        padding: 24px 0 0 0;
    }

    &__date-container {
        display: flex;
        margin: 0 0 20px 0;
    }

    &__date {
        margin: 0;
        font-style: italic;
    }

    &__posting-contact {
        display: flex;
        flex-direction: column;
        margin: 0 0 20px 0;
    }

    &__posting-contact-details {

    }

    &__main-body {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    &__main-wrapper {
        margin: 20px 0 12px 0;
    }

    &__main-paragraph {
        margin: 12px 0 12px 0;
    }

    &__main-list {
        margin: 10px 0 10px 0;
    }

    &__main-signoff {
        font-style: italic;
    }

    &__aside {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: 20px 24px 0 12px;
        background-color: rgba(0,0,0,0.1);
    }

    &__aside-header {
        margin: 0 0 20px 0;
        font-size: 24px;
    }

    &__contact-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;

    }

    &__contact-label {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 8px 0;
    }

    &__contact-info {
        margin: 0;
        font-size: 14px;
        font-style: italic;
    }




}